.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

li {
  list-style-type: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 20px;
}
.card-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
}
.description {
  color: #64748b;
  font-weight: 400;
  font-size: 15px;
}
.image {
  height: 100px;
  width: 100px;
  align-self: flex-end;
}
